*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family:sans-serif;
}
.contact{
	min-height:100vh;
	background-color:#e8f0fe;
	padding:50px;
	text-align: center;
}

.container{
	max-width:800px;
	margin:0 auto;
}
.container h2{
	font-size:36px;
	margin-bottom:40px;
	color:#333;
}
.contact-wrapper{
	display:grid;
	grid-template-columns:repeat(2,1fr);
	grid-gap:30px;
}
.contact-form {
	text-align:left;
}
.contact-form h3{
	font-size:24px;
	margin-bottom:20px;
	color:#333;
}
.form-group{
	margin-bottom:20px;
}
input, textarea{
	width:100%;
	padding:12px;
	border-radius:8px;
	border:none;
	background-color:#f8f9fa;
	color:#333;
}
input:focus,
textarea:focus{
	outline:none;
	box-shadow: 0 0 8px #bbb;
}
	
	
	button1{
	width:200px;
	padding:10px 30 ;
	text-align: center ;
	margin :0px 0 px;
	border-radius:25px;
	font-weight:bold;
	border:2px solid #fff;
	background-color:#fff;
    cursor: pointer;
	position:relative;
	overflow:hidden;
	
}
	
	

 button1  a{
	color:#000;
}
